.album-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px);
    color: #fff;
    box-sizing: border-box;
    transition: transform .2s;
    margin: 5px;
    position: relative;
    overflow: hidden;

    &:hover {
        // transform: scale(1.05);
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.5);
        z-index: 10;

        .card-end {
            margin-bottom: 0px;
        }

        .cover-container .spotify {
            bottom: 0px;
        }

    }

    .cover-container {
        width: 100%;
        padding-bottom: 100%;
        height: 0;
        position: relative;
        overflow: hidden;
        background: url('../assets/noimage.png');
        background-size: contain;

        img.cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .spotify {
            z-index: 1;
            position: absolute;
            width: 100%;
            bottom: -90px;
            padding: 0 5px;
            box-sizing: border-box;
            transition: all .2s;
        }
    }

    .album-content {
        display: flex;
        flex-direction: column;
        background: #28292b;
        border-top: 0px;
        height: 100%;
        padding: 15px;
        text-align: left;

        h2 {
            font-family: 'Roboto Slab';
            font-size: 30px;
            line-height: 32px;
            margin: 0 0 5px 0;
            padding: 0;
        }

        .artist {
            font-family: 'Roboto Slab';
            font-size: 20px;
            font-weight: 200;
            color: #fff;
            text-decoration: none;
            display: inline;

            .artistLink {
                text-decoration: none;
                color: inherit;
                opacity: .5;

                &:hover {
                    color: orange;
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }

        .hasMore {
            background: #0f1113;
            padding: 5px 10px;
            border-radius: 5px;
            float: right;
            position: absolute;
            right: 15px;
            cursor: pointer;
        }

        .badge {
            font-size: 10px;
            background: #ff60002e;
            padding: 2px 4px;
            border-radius: 4px;
            position: absolute;
            right: 20px;
            top: 400px;
        }

        .overlay {
            background: #000;
            position: fixed;
            top: 50px;
            padding: 80px;
            width: 50vw;
            left: 25vw;
            height: 50vh;
            overflow-y: scroll;
            z-index: 1000;

            .context {
                background: #ff60002e;
                padding: 10px;
                font-size: 13px;
                margin-bottom: 10px;
            }

            .hasMore.close {
                position: fixed;
                top: 30px;
                right: 20vw;
            }
        }
    }

    .card-end {
        background: #000;
        text-align: left;
        font-size: 14px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: -200px;
        transition: all .2s;

        label {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 10px;
            color: #666a71;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: orange;
            }
        }
    }
}

img.cover {
    width: 100%;
}

@media (max-width: 1280px) {
    .album-card {
        width: calc(33% - 10px);
    }
}

@media (max-width: 1020px) {
    .album-card {
        width: calc(50% - 10px);
    }

    .card-end {
        margin-bottom: 0;
    }
}

@media (max-width: 570px) {
    .album-card {
        width: 100%;
    }
}

@media (min-width: 1800px) {
    .album-card {
        width: 310px;
    }
}