.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
}

.dropdown-input input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    border-radius: 3px;
}

.dropdown-menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    
    .dropdown-item {
        display: block;
        padding: 10px 5px;
        cursor: pointer;
        &:hover {
            background-color: #252525;
        }
    }    
}

i.fas {
    margin-right: 4px;
}